*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
 display: flex;
    align-items: start;
    justify-content: center;
    
}

header{
    height: 10%;
    width: 100%;
    border-bottom: 1px solid rgb(69, 69, 69);
    
}

header .container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20%;
    color: rgb(255, 255, 255);
    
}

.sun{
    cursor: pointer;
    font-size: 25px;

}

.moon{
    position: absolute;
    display: none;
    cursor: pointer;
    font-size: 25px;
}