* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    height: 30%;
    width: 30%;
    background: #2d2d2d;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.box{
    height: 100%;
    width: 100%;
    padding: 10% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
  height: 80%;
  width: 95%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 4%;
  cursor: default;
  position: relative;
}

.container img{
  height: 95%;
  width: 20%;
  border-radius: 50%;
}

button{
  width: 30%;
  background-color: rgb(0, 132, 255);
  padding: 3% 4%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  font-weight: 900;
}
.follow{
  padding:  0% 5%;
}

.follow h2 span{
  font-weight: 900;
  color: #000000;
}

.follow h2{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
    width: 30%;
    padding: 5% 5%;
}

.bottom .left{
  text-align: center;
  font-weight: 200;
}
.bottom .left h2{
  font-weight: 300;
  font-size: 20px;
}
.bottom .right{
  text-align: center;
}
.bottom .right h2{
  font-weight: 300;
  font-size: 20px;
}