* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    height: 100%;
    width: 100%;
    padding: 5% 20%;


}

main .elem{
  height: 20%;
  width: 100%;
  border-bottom: 2px solid rgb(194, 194, 194);
  display: flex;
  justify-content: start;
  align-items: end;
  cursor: pointer;
  padding: 0 2%;
  position: relative;
  
}

main .elem h2{
  font-size: 30PX;
  font-weight: 100;
transform: scale(1);
  transition: all ease-out 0.5s;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  pointer-events: none;
}

main .elem img{
  height: 90%;
  width: 12%;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* sirf opacity / transform pe transition, left/top pe nahi */
  transition: opacity 0.3s linear;
}



