* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    height: 50%;
    width: 20%;
    background: #2d2d2d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    align-items: center;
}

main img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main i {
  position: absolute;
  font-size: 70px;
  
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
  transform:translate(0%,0%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.59,.44,.6,1.93) 0.4s;
}

