/* yeh 3 lines hatado */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.pin_container {
  padding-top: 3vh;
  width: 100%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  padding: 0 2%;
}
.pin_container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.pin_container .box img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}

img:hover {
  opacity: 0.95;
}

.caption {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}

@media (max-width: 1427px) {
  .pin_container {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px) {
  .pin_container {
    columns: 4;
  }
}

@media (max-width: 1000px) {
  .pin_container {
    columns: 3;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width: 786px) {
  .pin_container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .pin_container {
    columns: 1;
  }
}
