* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    height: 100%;
    width: 100%;
    cursor: none;

}

main img{
  height: 70px;
  width: 70px;
  position: fixed ;
  transform: translate(-35%,-20%);

}

